.paragraph>p{
    text-align: left;
    font-weight: 500;
    padding-bottom: 1rem;
}

.welcomeEmployees {
    max-width: 60vw;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem; /* Adds space between the .left and .right columns */
}


.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 48%;
    /* Occupies half of the width */
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    width: 48%;
    /* Occupies half of the width */
}

.column {
    display: flex;
    flex-direction: column; /* Stacks items vertically within each .column */
    align-items: flex-start;
    width: 100%; /* Ensures each column takes up the full width within .contain */
    gap: 1rem; /* Adds space between items in each column */
}
