.paragraph>p {
    text-align: left;
    font-weight: 500;
    padding-bottom: 1rem;
}

.welcome-hr {
    width: 100vw;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50%;

}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    width: 50%;
}

.contain {
    display: flex;
    justify-content: space-between;
    /* Space between will push items to edges */
    align-items: flex-start;
    width: 100vw;
    /* Full viewport width to ensure it spans the screen */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
    /* Ensures each column takes up about half the space */
    gap: 1rem;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
}