.rbc-day-slot .rbc-events-container {
    max-height: 5rem; 
    overflow-y: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.rbc-day-slot .rbc-events-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem; 
    height: 1.1rem; 
    overflow: hidden;
    font-size: 0.68em;
}

.event-title {
    max-width: 72%; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.event-type {
    margin: 0 0.17rem; 
    min-width: 3rem; 
    flex-shrink: 0; 
}

.dots {
    display: flex;
    gap: 0.2rem; 
}

.dot {
    width: 0.6rem;
    height: 0.6rem; 
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.dot.grey {
    background-color: #cccccc; /* Default grey */
}

.dot.yellow {
    background-color: #f79e00; /* Yellow when decided */
}

.dot.green {
    background-color: #39850e; /* Green when accepted or taken */
}

.dot.red {
    background-color: #ff0000; /* Red when decided but not accepted */
}
