.rbc-header {
    background-color: #050f38;
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em;
    height: 3rem;
}


.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem;
    height: 0.8rem;
    overflow: hidden;
    font-size: 0.68em;
}

.event-title {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: 300;
    flex-grow: 1;
    text-align: left;
}

.event-type {
    margin-right: 0.5rem;
    font-size: 1.1em;
    font-weight: 300;
}

.right-side {
    display: flex;
    align-items: center;
    min-width: 3rem;
    justify-content: flex-end;
    flex-shrink: 0;
}

.dots {
    display: flex;
    gap: 0.2rem;
}

.dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.dot.grey { background-color: #cccccc; }

.dot.green { background-color: #39850e; }

.dot.red { background-color: #a10b00; }