/* src/pages/HRPortal/HRPortal.css */
.hr-portal {
  margin-top: 10rem;
  overflow-x: hidden;
  margin: 0 auto;
  width: 95vw;            /* Set width to 95% of the viewport width */
  max-width: 95vw;        /* Ensure no component exceeds 95% viewport width */
  padding: 0 2.5vw;       /* Optional padding for additional inner margin */
}
