.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000042;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0; /* Ensure the footer starts from the left side */
  width: 100%; /* Ensure the footer spans the full width */
  box-sizing: border-box; /* Prevent padding from causing overflow */
  max-width: 100vw; /* Ensure it doesn't exceed the viewport width */
  overflow: hidden; /* Hide any overflow */
}

.logo-container {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 40px;
  margin-right: 1rem;
}

.footer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center text horizontally */
  margin: 0;
}