.table-container {
    width: 67rem;
    height: 25rem;
  }
  
  .table {
    width: 100%;
    height: 20rem;
    overflow: auto;
  }
  
  /* Customize the scrollbar */
  .ag-theme-alpine {
    --ag-background-color: #f8f9fa8f;
    --ag-header-background-color: #050f38;
    --ag-header-foreground-color: white;
    --ag-border-color: #1949a8;
  }

  
  .ag-theme-alpine .ag-row {
    color: #050f38;
  }
  .ag-theme-alpine .ag-row *{
    font-weight: 400;
    font-size: 0.9rem;
  }
  .ag-theme-alpine .ag-row:hover {
    background-color: #eceff8;
  }

  .ag-theme-alpine .ag-header-cell {
    background-color: var(--ag-header-background-color);
    color: var(--ag-header-foreground-color);
    border-bottom: 1px solid var(--ag-border-color);
  }
  .ag-theme-alpine .ag-header-cell *{
      font-weight: 600;
      font-size: 1rem;
  }



  /* Footer styles */
.ag-theme-alpine .ag-paging-panel {
  background-color: #f8f9fa8f; /* Background color of the footer */
  border-top: 1px solid var(--ag-border-color); /* Top border */
  padding: 8px; /* Padding for spacing */
}
.ag-theme-alpine .ag-paging-panel *{
    font-weight: 400;
    font-size: 1rem;
}

.ag-theme-alpine .ag-paging-panel .ag-paging-button {
  color: white;
  border: none; 
  border-radius: 4px;
  padding: 6px 12px;
  margin: 0 5px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.ag-theme-alpine .ag-paging-panel .ag-paging-button:hover {
  background-color: #0e40a4; /* Darker background on hover */
}





/* Scroll behavior to make the table scroll independently of the page */
.table-container {
  position: relative;
  overflow: hidden;
}

.table-container .ag-theme-alpine {
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #4163ec;
  border-radius: 10px;
}


.paragraph>div>p{
  text-align: left;
  font-weight: 500;
  padding-bottom: 1rem;
  font-size: 1.6em;
}