
.requests-list > h3 {
    margin-bottom: 10px;
    color: #a4c3ff;
}

.requests-list > p {
    margin: 5px 0;
}

/* Divider customization */
.requests-list > .MuiDivider-root {
    margin: 10px 0;
}

.requests-list > .dots-container {
    left: 3em;
    gap: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    width: 50%;
}

.requests-list > .dot {
    width: 0.6rem;
    height: 0.6rem; 
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.requests-list > .dot.grey {
    background-color: #cccccc;
}

.requests-list > .dot.yellow {
    background-color: #f79e00;
}

.requests-list > .dot.green {
    background-color: #39850e;
}

.requests-list > .dot.red {
    background-color: #a10b00;
}