.item-container {
    position: relative; /* Ensure this is still set for the absolute positioning of the dots */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically centered */
    width: 100%;
}

.requests-list > h3 {
    margin-bottom: 10px;
    color: #a4c3ff;
}

.requests-list > p {
    margin: 5px 0;
}

/* Divider customization */
.requests-list > .MuiDivider-root {
    margin: 10px 0;
}

/* Fix the dots container to the right */
.dots-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the dots container to the right */
}
